:root {
    --black: #000000;
    --yellow: #FFFF50;
    --blue: #4D7BFF;
    --green: #7FFF5B;
    --pink: #FF90FF;
    --red: #FF5C5C;
    --grey: #C4C4C4;
    --white: #FFFFFF;
    --font-inter: 'Inter';
    --font-ibm: 'IBM Plex Mono';
  }